/*--Variables and Mixins--*/
@import "variables_and_mixins.scss";
/*--End Variables and Mixins--*/

/*Using Foundation as core framework*/

/*Temporary Styles*/


*, *:before, *:after {
	-moz-box-shadow: 0 0 5px rgba(255,157,24,.5);
	-webkit-box-shadow: 0 0 5px rgba(255,157,24,.5);
	box-shadow: 0 0 5px rgba(255,157,24,.5);
} 

footer {background:$white;}

section.label {
	background:#777;
	width:100%;
	border-radius:0px;
	padding:5rem 0;
}

@import "size-standard.scss";
@import "size-small.scss";
@import "size-medium.scss";
@import "size-large.scss";

/* Import Animations*/
@import "animations.scss";































