/*--Variables and Mixins--*/
@import "variables_and_mixins.scss";
/*--End Variables and Mixins--*/

/*Using Foundation as core framework*/

/*Temporary Styles*/


*, *:before, *:after {
	-moz-box-shadow: 0 0 5px rgba(255,157,24,.5);
	-webkit-box-shadow: 0 0 5px rgba(255,157,24,.5);
	box-shadow: 0 0 5px rgba(255,157,24,.5);
} 

footer {background:$white;}

section.label {
	background:#777;
	width:100%;
	border-radius:0px;
	padding:5rem 0;
}

//@import "old.scss";
@import "size-large.scss";
@import "size-standard.scss";
@import "size-small.scss";
@import "size-medium.scss";
@import "size-large.scss";

/* Import Animations*/
@import "animations.scss";


footer {
    overflow: auto;
    z-index: 200;
    padding: 1rem 3rem;
    background: #fff;
    text-align: left;
    clear: both
}

@media (max-width: 64em) {
    footer {
        display: none
    }
}

@media (max-width: 30.0625em) {
    footer {
        padding: 1rem 1rem
    }
}

footer p.copyright {
    float: right;
    margin: 0;
    font-size: .75rem
}

@media (max-width: 64em) {
    footer ul.site_footer_links {
        display: none
    }
}

footer li {
    display: inline-block;
    padding: 0 0 0 1.25rem;
    font-size: .8rem
}

footer li:first-child {
    padding-left: 0rem
}

@media (max-width: 48em) {
    footer li {
        font-size: .9rem;
        padding: 0 .5rem
    }
}

@media (max-width: 40em) {
    footer li {
        display: block;
        padding: 0 0 1.5rem 0
    }
    footer li:last-child {
        padding: 0
    }
}

footer a {
    color: #002d5b
}

.careers_footer {
    text-align: left
}

@media (max-width: 64em) {
    .careers_footer {
        padding: 1rem 2rem;
        text-align: left
    }
}

.careers_footer ul {
    padding-bottom: 1.5rem
}

@media (max-width: 64em) {
    .careers_footer ul {
        padding-bottom: .75rem
    }
}

.careers_footer li {
    display: inline-block;
    padding: 0 0 0 1.25rem;
    font-size: .8rem
}

.careers_footer li:first-child {
    padding-left: 0rem
}

@media (max-width: 64em) {
    .careers_footer li {
        display: block;
        padding: .5rem 0
    }
}

.careers_footer li a {
    font-size: .8rem;
    color: #002d5b
}

.careers_footer .disclaimer {
    margin: .5rem 0;
    font-size: .8rem
}
footer .row {
    padding: 0
}

footer .logo_container {
    text-align: left
}

footer .logo_container img {
    width: 121px;
    height: auto
}


.follow {
    margin-top: 1em
}

@media (max-width: 30.0625em) {
    .follow {
        margin-bottom: 1rem
    }
}

.follow li {
    float: left;
    margin-right: 1.25em
}

.follow:after {
    display: block;
    content: '';
    clear: both
}

.footer-info-container p,
.footer-info-container a {
    font-size: 0.750rem;
    font-weight: 600;
    color: #444444;
    letter-spacing: 0em;
    line-height: 1.25rem;
    text-align: left
}
.footer-info-container .icon {
	font-size:1.25rem;
	font-weight:normal;
}

.footer-info-container a {
    font-weight: bold;
    text-decoration:none;
}

.footer-info-container ul li {
    padding: 0;
    text-align: left;
    display: block;
    margin-bottom: .5em
}

@media (max-width: 30.0625em) {
    .footer-info-container ul li {
        margin-bottom: 1rem
    }
}

.footer-info-container ul li a {
    color: #00A8E1
}

.site_footer_links {
    text-align: left
}

.fix {
    padding: 0;
    margin: 0 auto
}
.footer-nav ul {
    display: block;
    float: left;
    width: 50%;
    margin:0 auto;
}

.breadcrumb_container {
    position: relative;
    width: 100%;
    padding: .75rem 3rem;
}
.texture_bg, .mod_container.highlights_intro {
    background: url(/assets/img/texture.jpg);
}
.white_gradient_bottom:before, .mod_container.highlights_intro:before {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}




















