.v-align-outer {display:table;height:100%;width:100%;}
.v-align-inner {display:table-cell;vertical-align:middle;}

/*Typography*/
body {
	font-family:$sans-serif;
}

h1,
.h1,
.h1-style,
.h1-styles,
.h1_style,
.h1_styles {
	font-size:3.938rem;
	font-family:$sans-serif;
	font-weight: 800;
	line-height:3.938rem;
	color:$blue;
}
h2,
.h2,
.h2-style,
.h2-styles,
.h2_style,
.h2_styles {
	display: block;
	font-size:2.688rem;
	font-family:$sans-serif;
	font-weight: 400;
	line-height:2.688rem;
	color:$blue;
}
h3,
.h3,
.h3-style,
.h3-styles,
.h3_style,
.h3_styles {
	font-size:2.125rem;
	font-family:$sans-serif;
	font-weight: 400;
	line-height:2.125rem;
	color:$blue;
}
h4,
.h4,
.h4-style,
.h4-styles,
.h4_style,
.h4_styles {
	display: block;
	font-size:1.375rem;
	line-height:1.375rem;
	font-family:$sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
p {
	font-size:.875rem;
	font-family:$sans-serif;
	line-height:1.375rem;
	color:$dark-gray;
}
p a, a {
	color:$blue;
	text-decoration:underline;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	&.button {
		text-decoration:none;
	}
}
p.white a {
	color:$white;
}
.blue-bg p a {
	color:$white;
	text-decoration:underline;
}
ul, ol {
	margin-left:1rem;
}
li {
	font-size:.875rem;
	line-height:1.375rem;
}
blockquote {
	font-family:$slab;
	font-size:1.250rem;
	font-style: italic;
	line-height:2rem;
	color:$dark-blue;
	font-weight:300;
}
.sans-serif {
	font-family:$sans-serif;
}
.serif {
	font-family:$serif;
}
.slab {
	font-family:$slab;
}

/*Background Colors*/
.black-bg,
.bg-black,
.black_bg,
.bg_black {
	background:$black;
}
.white-bg,
.bg-white,
.white_bg,
.bg_white {
	background:$white;
}
.dark-gray-bg,
.bg-dark-gray,
.dark_gray_bg,
.bg_dark_gray {
	background:$dark-gray;
}
.gray-bg,
.bg-gray,
.gray_bg,
.bg_gray {
	background:$gray;
}
.light-gray-bg,
.bg-light-gray,
.light_gray_bg,
.bg_light_gray {
	background:$light-gray;
}
.dark-blue-bg,
.bg-dark-blue,
.dark_blue_bg,
.bg_dark_blue {
	background:$dark-blue;
}
.blue-bg,
.bg-blue,
.blue_bg,
.bg_blue {
	background:$blue;
}
.light-blue-bg,
.bg-light-blue,
.light_blue_bg,
.bg_light_blue {
	background:$light-blue;
}

/*Colors*/
.black {
	color:$black;
}
.white {
	color:$white;
}
.dark-gray {
	color:$dark-gray;
}
.gray {
	color:$gray;
}
.light-gray {
	color:$light-gray;
}
.dark-blue {
	color:$dark-blue;
}
.blue {
	color:$blue;
}
.light-blue {
	color:$light-blue;
}

/*Tools*/
.text-center {
	text-align:center;
}
.text-right {
	text-align:right;
}
.text-left {
	text-align:left;
}
.no-padding-top {
	padding-top:0;
}
.no-padding-bottom {
	padding-bottom:0;
}
.no-padding-left {
	padding-left:0;
}
.no-padding-right {
	padding-right:0;
}
.first {
	&::before {
		content:'';
		padding-top:5.625rem;
		display:block;
	}
}

/*Input Fields*/
select {
	width:100%;
	font-family:$sans-serif;
	font-size: 12px;
	text-align: left;
	line-height: 14px;
	color: #B0B0B0;
	padding: .5rem;
	margin-bottom:2rem;
	height: 34px;
	background-color: #FFFFFF;
	border: 1px solid #00A8E1;
	border-radius: 3px;
}

[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea {
	width:100%;
	font-family:$sans-serif;
	font-size: 12px;
	text-align: left;
	line-height: 14px;
	color: #B0B0B0;
	padding: .5rem;
	margin-bottom:2rem;
	height: 34px;
	background-color: #FFFFFF;
	border: 1px solid #00A8E1;
	border-radius: 3px;
}

[type=color]:focus,
[type=date]:focus,
[type=datetime-local]:focus,
[type=datetime]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
textarea:focus {
    display: block;
    box-sizing: border-box;
    border: 1px solid #cacaca;
    border-radius: 3px;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, .1);
    font-family: inherit;
    color: #0a0a0a;
    transition: box-shadow .5s, border-color .25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

[type=color].error,
[type=date].error,
[type=datetime-local].error,
[type=datetime].error,
[type=email].error,
[type=month].error,
[type=number].error,
[type=password].error,
[type=search].error,
[type=tel].error,
[type=text].error,
[type=time].error,
[type=url].error,
[type=week].error,
textarea {
	outline: none;
	border: 1px solid #8a8a8a;
	box-shadow: 0 0 5px red;
	transition: box-shadow .5s,border-color .25s ease-in-out;
	border-color:red;
}







/*Buttons*/
.button,[type=button],[type=submit] {
	display: inline-block;
	padding:0.563rem 2.813rem;
	margin:.5rem auto;
	font-family:$sans-serif;
	font-size:.875rem;
	line-height:.875rem;
	font-weight: 700;
	text-align: center;
	border-radius: .175rem;
	text-transform: uppercase;
	transition: all .25s ease-out;
	cursor: pointer;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	&.button-style-1 {
		color: #002d5b;
		border: 1px solid #00a8e1;
		background: #fff;
		border-radius:3px;
		transition: all .25s ease-out;
		&:hover {
			background: #E5F9FF;
			border: 1px solid #00a8e1;
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
		}
		&:active {
			color:#fff;
			background: #00a8e1;
			border: 1px solid #00a8e1;
			box-shadow: inset 0 1px 3px 0 rgba(0,45,91,0.5);
		}
	}
}

.play-button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 300;
    margin: .5rem auto;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    &.play-button-1 {
    	color:$dark-blue;
    	border: 1px solid #00a8e1;
    	background: #fff;
    	&::before {
    		content: "\f04b";
    		position: absolute;
    		top:50%;
    		left:50%;
    		transform: translate(-35%, -50%);
    		// width: 17px;
    		// height: 32px;
    		// margin: auto;
    		font-size:1.563rem;
    	}
    	&:hover {
    		background:#E5F9FF;
    		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
    	}
    	&:active {
    		color:$white;
    		background: #00a8e1;
    		box-shadow: inset 0 1px 3px 0 rgba(0,45,91,0.5);
    	}
    }
}




/*Navigation*/
header {
	    height: auto;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 9999;
    background: linear-gradient(90deg, rgba(0,168,225,0.75) 0%, rgba(0,45,91,0.75) 100%);
}
main {
	display:block;
	background:$white;
}
main::before {
	content:'';
	display:block;
	position:relative;
}

.nav-up {
    top: -136px;
}
.nav-down,
.lock {
	position:fixed;
	top:0;
}
.navigation-container {
	// background-color:rgba(0,168,225,0.25);
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	position:relative;
	z-index:500;
	// height:auto;
	height:5.625rem;
	width:100%;
	// padding:1rem 0;
}
.navigation-container .columns {
	height:5.625rem;
}
.koch-logo {
	display:inline-block;
	width:116px;
	height:17px;
	// background:url("/assets/img/logo-kii-white.svg")no-repeat;
	// text-indent:-9999px;
	margin-top:3.438rem;
}
.navigation-container ul li {
	display:inline-block;
	list-style-type:none;
}
div.links_container nav li.top_level_nav_item, div.links_container nav li.top_level_nav_link {
	position: relative;
	display: inline-block;
	height: 3.25rem;
	padding: 1rem 0rem;
	margin: 0 1.25rem 0 0;
	color:$white;
	cursor: pointer;
	font-family: "proxima-nova",sans-serif;
	font-weight: 700;
	letter-spacing: .25px;
}
.menu-container {
	background: linear-gradient(90deg, rgba(0,168,225,0.7) 0%, #002D5B 100%);
}
nav.main-menu ul,
.external-links-container ul {
	margin-left:0;
	margin-bottom:0;
	line-height:1rem;
	display:inline-block;
}
.external-links-container {
	margin-top:0.938rem;
	ul {
		li {
			font-family:$sans-serif;
			font-size:0.875rem;
			font-weight: bold;
			text-align: right;
			line-height:1.063rem;
			color: #00A8E1;
			vertical-align:middle;
			a {
				text-decoration:none;
			}

		}
		&:first-child {
			li {
				&:nth-child(2) {
					margin-left:2.5rem;
					margin-right:1.875rem;
					position:relative;
					&::before {
						content:'|';
						display:block;
						position:absolute;
						left:-1.438rem;
					}
				}
			}
		}
	}
}

nav.main-menu {
	margin-top:.45rem;
	> ul > li {
		margin-left:1rem;
		padding-left:0.750rem;
		padding-right:0.750rem;
		&::after {
			content:'';
			background:transparent;
			position:absolute;
			bottom:0px;
			left:0px;
			width:100%;
			height:5px;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
		}
		&:hover {
			&::after {
				background:$blue;
			}
		}
		&:first-child {
			margin-left:0;
		}
		.mobile-sub-nav {
			&> ul {
				//display:none;
				position: absolute; 
				top:40px;
				width:235px;
				left:0px;
				visibility: hidden;
				opacity: 0;
				-webkit-transition:visibility 0s, opacity 0.2s linear;
				-moz-transition:visibility 0s, opacity 0.2s linear;
				transition:visibility 0s, opacity 0.2s linear;
				&> li {
					float:none;
					display:list-item;
					position: relative;
					text-align:left;
					margin-left:0;
					a {
						line-height:2.5rem;
						background:rgba(255,255,255,.9);
						display:inline-block;
						text-align:left;
						width:100%;
						border-bottom:1px #fff solid;
						padding-left:0.750rem;
						font-size:0.875rem;
						text-decoration:none;
						font-weight:500;
						color:$dark-gray;
						-webkit-transition: all 0.2s ease-in-out;
						-moz-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						&:hover {
							background:rgba(229,249,255,.9);
						}
					}
				}
			}
		}
		&:hover ul {
			//display:block;
			visibility: visible;
			opacity: 1;
		}
	}
	ul > li, ul > li a {
		font-family:$sans-serif;
		font-size:0.875rem;
		font-weight: bold;
		text-decoration:none;
		text-align: right;
		line-height:2.5rem;
		color: $white;
		position:relative;
	}
	i {
		font-size:.5rem;
		position:relative;
		top:-1px;
	}
}


.navigation-container::after {
	clear:both;
}
.navigation-column {
	width:50%;
	float:left;
	height:5.625rem;
	position:relative;
}
.navigation-container .navigation-column:last-child {
	background: linear-gradient(90deg, rgba(0,168,225,0.7) 0%, rgba(0,45,91,1) 100%);
}
.navigation-column:last-child::before {
	position: absolute;
	left: -2rem;
	top: 0;
	bottom: 0;
	content: '';
	opacity: .7;
	border-bottom: 5.5rem solid #00a8e1;
	border-left: 2rem solid transparent;
}

.navigation-column .row {
	max-width:37.5rem;
}
.navigation-column:first-child .row {
	margin-right:0;
}
.navigation-column:last-child .row {
	margin-left:0;
}
.navigation-column:last-child .row {
	text-align:right;
}
.external-links-container {
	position:relative;
}
.external-links-container::after {
	content:'';
	width:95%;
	height:1px;
	position:absolute;
	background:$blue;
	right:0px;
	bottom:-5px;
}
.logo-path {
	fill:#fff;
}







/*Section Headers*/
.header-with-background {
	background: url("/assets/img/example-header.jpg") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top:20rem;
	padding-bottom:15rem;
}

/*CTA*/
.cta {
	display:block;
	width:100%;
	&.cta-with-background {
		background-repeat:no-repeat;
		background-position:center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	&.cta-large {
		padding-top:15rem;
		padding-bottom:15rem;
	}
	&.cta-medium {
		padding-top:10rem;
		padding-bottom:10rem;
	}
	&.cta-small {
		padding-top:5rem;
		padding-bottom:5rem;	
	}
	p {
		margin-bottom:0;
	}
}





/*Temp Styles*/
.temp-margin {
	margin:2rem auto;
}
section {
	padding-top:0rem;
	padding-bottom:0rem;
}


//Iconography 
.icon {
	display:inline-block;
	position:relative;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width:2.375rem;
    height:2.375rem;
    font-size:1.25rem;
    -webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	border-radius:50%;
	&.small {
		font-size:0.938rem;
		width:1.50rem;
		height:1.50rem;
	}
    &::before {
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    }
	&.facebook {
		&::before{
			content:'\f09a';
			color:rgba(59,89,152,1);
		}
		&.white {
			&::before {
				color:rgba(255,255,255,1);
			}
			&:hover {
				background:rgba(255,255,255,1);
				&::before {
					color:rgba(59,89,152,1);
				}
			}
		}
		&:hover {
			background:rgba(59,89,152,1);
			&::before {
				color:rgba(255,255,255,1);
			}
		}
	}
	&.twitter {
		&::before{
			content:'\f099';
			color:rgba(29,161,242,1);
		}
		&.white {
			&::before {
				color:rgba(255,255,255,1);
			}
			&:hover {
				background:rgba(255,255,255,1);
				&::before {
					color:rgba(29,161,242,1);
				}
			}
		}
		&:hover {
			background:rgba(29,161,242,1);
			&::before {
				color:rgba(255,255,255,1);
			}
		}
	}
	&.linkedin {
		&::before{
			content:'\f0e1';
			color:rgba(0,119,181,1);
		}
		&.white {
			&::before {
				color:rgba(255,255,255,1);
			}
			&:hover {
				background:rgba(255,255,255,1);
				&::before {
					color:rgba(0,119,181,1);
				}
			}
		}
		&:hover {
			background:rgba(0,119,181,1);
			&::before {
				color:rgba(255,255,255,1);
			}
		}
	}
	&.youtube {
		&::before{
			content:'\f16a';
			color:rgba(229,45,39,1);
		}
		&.white {
			&::before {
				color:rgba(255,255,255,1);
			}
			&:hover {
				background:rgba(255,255,255,1);
				&::before {
					color:rgba(229,45,39,1);
				}
			}
		}
		&:hover {
			background:rgba(229,45,39,1);
			&::before {
				color:rgba(255,255,255,1);
			}
		}
	}
	&.google {
		&::before{
			content:'\f0d5';
			color:rgba(211,72,54,1);
		}
		&.white {
			&::before {
				color:rgba(255,255,255,1);
			}
			&:hover {
				background:rgba(255,255,255,1);
				&::before {
					color:rgba(211,72,54,1);
				}
			}
		}
		&:hover {
			background:rgba(211,72,54,1);
			&::before {
				color:rgba(255,255,255,1);
			}
		}
	}
	&.snapchat {
		&::before{
			content:'\f2ac';
			color:rgba(0,0,0,1);
		}
		&.white {
			&::before {
				color:rgba(255,255,255,1);
			}
			&:hover {
				background:rgba(255,255,255,1);
				&::before {
					color:rgba(0,0,0,1);
				}
			}
		}
		&:hover {
			background:rgba(0,0,0,1);
			&::before {
				color:rgba(255,255,255,1);
			}
		}
	}
	&.instagram {
		&::before{
			content:'\f16d';
			color:rgba(0,0,0,1);
		}
		&.white {
			&::before {
				color:rgba(255,255,255,1);
			}
			&:hover {
				background:rgba(255,255,255,1);
				&::before {
					color:rgba(0,0,0,1);
				}
			}
		}
		&:hover {
			background:rgba(0,0,0,1);
			&::before {
				color:rgba(255,255,255,1);
			}
		}
	}
	&.glassdoor {
		&::before{
			content:'';
			-webkit-mask: url("/assets/img/glassdoor-icon.svg")no-repeat 50% 50%;
			mask: url("/assets/img/glassdoor-icon.svg")no-repeat 50% 50%;
			-webkit-mask-size: cover;
			mask-size: cover;
			width: 13px;
			height: 23px;
			display:inline-block;
			background-color:rgba(124,178,40,1);
			-webkit-transition: all 0.25s ease-in-out;
			-moz-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;
		}
		&.small {
			&::before{
				width:9.60px;
				height:17px;
			}
		}
		&:hover {
			background:rgba(124,178,40,1);
			&::before {
				background-color:rgba(255,255,255,1);
			}
		}
		&.white {
			&::before {
				background:rgba(255,255,255,1);
			}
			&:hover {
				background:rgba(255,255,255,1);
				&::before {
					background-color:rgba(124,178,40,1);
				}
			}
		}
	}

#Glassdoor {
	fill:#000!important;
}
// .glassdoor-icon {
// 	fill:#7CB228;
// }
.glassdoor-icon {
	fill:#ffffff;
	background-color:red;
}


	&.facebook {
		&::before{
			content:'\f09a';
			color:rgba(59,89,152,1);
		}
		&.white {
			&::before {
				color:rgba(255,255,255,1);
			}
		}
	}
	&.facebook {
		&::before{
			content:'\f09a';
			color:rgba(59,89,152,1);
		}
		&.white {
			&::before {
				color:rgba(255,255,255,1);
			}
		}
	}
}



//
// Home Page Modules
.horizontal-50-50 {
	position:relative;
	height:25rem;	
	margin-bottom:-3rem;
	overflow:auto;
	.module, .text-module {
		height:100%;
		position:relative;
	}
	.module {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position:center;
		background-color:$light-gray;
		text-align:center;
	}
	.text-module {
		margin:0 auto;
		padding-left:5.625rem;
		padding-right:5.625rem;
		&.arrow-left {
			position:relative;
			&::after {
				content:'';
				position:absolute;
				z-index:10;
				left:-25px;
				top:50%;
				bottom:auto;
				width:0;
				height:0;
				border-left:none;
				border-top:25px solid transparent;
				border-bottom:25px solid transparent;
				border-right:25px solid $white;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
		&.arrow-right {
			position:relative;
			&::after {
				content:'';
				position:absolute;
				z-index:10;
				right:-25px;
				top:50%;
				bottom:auto;
				width:0;
				height:0;
				border-left:25px solid $white;
				border-top:25px solid transparent;
				border-bottom:25px solid transparent;
				border-right:none;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
	}
	&:last-of-type {
		margin-bottom:0rem;
	}
}

//Full width modules
.full-width-height {
	display:block;
	width:100%;
	height:100vh;
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	//temp background color
	background-color:$dark-gray;
}
.full-width {
	width:100%;
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	//standard padding
	padding-top:10.313rem;
	padding-bottom:10.313rem;
	//temp background color
	//background:$blue;
	&.big {
		padding-top:15rem;
		padding-bottom:15rem;
	}
	&.small {
		padding-top:5rem;
		padding-bottom:5rem;
	}
}


// .cta {
// 	display:block;
// 	width:100%;
// 	&.cta-with-background {
// 		background-repeat:no-repeat;
// 		background-position:center center;
// 		-webkit-background-size: cover;
// 		-moz-background-size: cover;
// 		-o-background-size: cover;
// 		background-size: cover;
// 	}
// 	&.cta-large {
// 		padding-top:15rem;
// 		padding-bottom:15rem;
// 	}
// 	&.cta-medium {
// 		padding-top:10rem;
// 		padding-bottom:10rem;
// 	}
// 	&.cta-small {
// 		padding-top:5rem;
// 		padding-bottom:5rem;	
// 	}
// 	p {
// 		margin-bottom:0;
// 	}
// }

.vertical-50-50 {
	position:relative;
	padding-right:0;
	padding-left:0;
	.flex-bottom.text-module, .flex-top.text-module {
		height:15.625rem;
		position:relative;
		padding-left:2rem;
		padding-right:2rem;
		//temp no background
		background:none;
	}
	.flex-bottom, .flex-top {
		height:25.000rem;
		width:100%;
		text-align:center;
		background-repeat:no-repeat;
		background-position:center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		//temp background color
		//background:$dark-blue;
	}
	.flex-top.text-module::after {
		content: '';
		position: absolute;
		z-index: 100;
		top: auto;
		right: auto;
		bottom: -20px;
		left: 10%;
		width: 0;
		height: 0;
		border-bottom: none;
		border-right: 20px solid transparent;
		border-top: 20px solid #fff;
		border-left: 20px solid transparent;
	}
	.flex-bottom.text-module::before {
		content: '';
		position: absolute;
		z-index: 100;
		top: -20px;
		right: auto;
		bottom: auto;
		left: 10%;
		width: 0;
		height: 0;
		border-top: none;
		border-right: 20px solid transparent;
		border-bottom: 20px solid #fff;
		border-left: 20px solid transparent;
	}
}

.horizontal-33 {
	text-align:center;
	.flex-top, .flex-bottom {
		position:relative;
	}
	.flex-top {
		height:25rem;
	}
	.flex-bottom {
		height:23.125rem;
		padding-right:10%;
		padding-left:10%;
		&::before {
			content: '';
			position: absolute;
			z-index: 100;
			top: -20px;
			right: 0;
			bottom: auto;
			left: 0;
			width: 0;
			height: 0;
			margin: 0 auto;
			border-top: none;
			border-right: 20px solid transparent;
			border-bottom: 20px solid $white;
			border-left: 20px solid transparent;
		}
	}
	//temp
	&:first-child .flex-top {
		//temp background
		background:$dark-blue;
	}
	&:nth-child(2) .flex-top {
		//temp background
		background:$blue;
	}
	&:last-child .flex-top {
		//temp background
		background:$light-blue;
	}

}

.home-featured {
	position:relative;
	min-height:600px;
	width: 100%;
	height: 100%;
	background: url(/assets/img/homepage_bg_1600.jpg) center bottom no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.row {
		position: absolute;
		overflow: visible;
		z-index: 200;
		top: 55%;
		left: 0;
		right: 0;
		width: 100%;
		margin: auto;
		text-align: center;
		-webkit-transform: translateY(-45%);
		-moz-transform: translateY(-45%);
		-ms-transform: translateY(-45%);
		-o-transform: translateY(-45%);
		transform: translateY(-45%);
	}
	p {
		width: 50%;
		font-weight: 600;
		padding: 1.5rem 0;
		margin:0 auto
	}
}
.line-one,
.line-two {
    display: block;
    margin-bottom: 1rem;
    color: #fff
}

.line-one strong,
.line-two strong {
    font-weight: 700
}

.h1-custom .line-one {
    -webkit-animation-name: fadeInUpSmall;
    animation-name: fadeInUpSmall;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

@media (max-width: 30.0625em) {
    .h1-custom .line-one {
        margin-bottom: .5rem
    }
}

@media (max-width: 64em) {
    .h1-custom .line-one {
        margin-bottom: .5rem
    }
}

.h1-custom .line-two {
    -webkit-animation-name: fadeInUpSmall;
    animation-name: fadeInUpSmall;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s
}

@media (max-width: 64em) {
    .h1-custom .line-two {
        margin-bottom: .5rem
    }
}
// END Home Page Modules
//




//Footer
footer {
	background:rgba(242,242,242,0.5);
}
.breadcrumb_container .house_icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
}
.breadcrumb_container p {
	display:inline-block;
	z-index:100;
	position:relative;
	a {
		display: inline-block;
		vertical-align: middle;
		margin: .5rem 0 0 .5rem;
		color: #333740;
		font-size:0.625rem;
		text-decoration:none;
		font-weight: bold;
		line-height:0.750rem;
		color:$dark-gray;
	}
}
footer {
    overflow: auto;
    z-index: 200;
    background: #fff;
    text-align: left;
    clear: both;
}

@media (max-width: 30.0625em) {
    footer {
        padding: 1rem 1rem
    }
}

footer p.copyright {
    float: right;
    margin: 0;
    font-size: .75rem
}

@media (max-width: 64em) {
    footer ul.site_footer_links {
        display: none
    }
}

footer li {
    display: inline-block;
    padding: 0 0 0 1.25rem;
    font-size: .8rem
}

footer li:first-child {
    padding-left: 0rem
}

@media (max-width: 48em) {
    footer li {
        font-size: .9rem;
        padding: 0 .5rem
    }
}

@media (max-width: 40em) {
    footer li {
        display: block;
        padding: 0 0 1.5rem 0
    }
    footer li:last-child {
        padding: 0
    }
}

footer a {
    color: #002d5b
}

.careers_footer {
    text-align: left
}

@media (max-width: 64em) {
    .careers_footer {
        padding: 1rem 2rem;
        text-align: left
    }
}

.careers_footer ul {
    padding-bottom: 1.5rem
}

@media (max-width: 64em) {
    .careers_footer ul {
        padding-bottom: .75rem
    }
}

.careers_footer li {
    display: inline-block;
    padding: 0 0 0 1.25rem;
    font-size: .8rem
}

.careers_footer li:first-child {
    padding-left: 0rem
}

@media (max-width: 64em) {
    .careers_footer li {
        display: block;
        padding: .5rem 0
    }
}

.careers_footer li a {
    font-size: .8rem;
    color: #002d5b
}

.careers_footer .disclaimer {
    margin: .5rem 0;
    font-size: .8rem
}
footer .row {
    padding: 0
}

footer .logo_container {
    text-align: left
}

footer .logo_container img {
    width: 121px;
    height: auto
}






.footer-info-container {
	p, a {
		font-size: 0.750rem;
		font-weight: 600;
		color: #444444;
		letter-spacing: 0em;
		line-height: 1.25rem;
		text-align: left;
	}
	p {
		&:first-child {
			margin-bottom:2rem;
		}
		&:nth-child(2) {
			margin-bottom:.25rem;
		}
	}
	a {
		font-weight: bold;
		text-decoration:none;
	}
	.icon {
		font-weight:normal;
	}
	ul {
		li {
			padding: 0;
			text-align: left;
			display: block;
			margin-bottom: .5em;
		}
	}
	.logo_container {
		a {
			display:inline-block;
			margin-bottom:2rem;
		}
	}
	.follow {
		margin-top:0rem;
		li {
			float:left;
			margin-right:.5rem;
			
		}
		&:after {
			display: block;
			content: '';
			clear: both;
		}
	}
}

@media (max-width: 30.0625em) {
    .follow {
        margin-bottom: 1rem;
    }
}


@media (max-width: 30.0625em) {
    .footer-info-container ul li {
        margin-bottom: 1rem
    }
}

.footer-info-container ul li a {
    color: #00A8E1
}

.site_footer_links {
	text-align: left;
	li {
		a {
			font-family:$sans-serif;
			font-size:0.625rem;
			line-height:0.750rem;
			color: $dark-gray;
			text-decoration:none;
		}
	}
}

.fix {
    padding: 0;
    margin: 0 auto
}
.footer-nav ul {
    display: block;
    float: left;
    width: 50%;
    margin:0 auto;
}

.breadcrumb_container {
    position: relative;
    width: 100%;
}
.texture_bg, .mod_container.highlights_intro {
    background: url(/assets/img/texture.jpg);
}
.white_gradient_bottom:before, .mod_container.highlights_intro:before {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

//End Footer















//Old
.homepage_slider_container {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 77.5%;
    min-height: 555px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.homepage_slider_container .video_cover {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: url(/assets/images/homepage_bg_1600.jpg) center center no-repeat;
    background-size: cover;
}
.video-foreground, .video-background embed {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 160%;
    pointer-events: none;
    margin: 0 auto;
    /* background: url(http://www.kochind.com/assets/images/homepage_bg_1600.jpg) center no-repeat; */
    background: url(http://www.kochind.com/assets/images/homepage_bg_image_1600.jpg) center no-repeat;
    background-size: 100%;
    background-size: cover;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.homepage_slider_container .slide_content_display_type {
    position: absolute;
    overflow: visible;
    z-index: 200;
    top: 55%;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    text-align: center;
    -webkit-transform: translateY(-45%);
    -moz-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    -o-transform: translateY(-45%);
    transform: translateY(-45%);
}
.btn-container {
    display: block;
    -webkit-animation-name: fadeInUpSmall;
    animation-name: fadeInUpSmall;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
}
body.homepage {
    min-height: 40rem;
}
.h1-custom {
	font-family:$sans-serif;
	font-size: 5.625rem;
	display: inline-block;
	font-weight: 300;
	line-height: 5rem;
	color: #fff;
	opacity: 1;
	margin: 0 auto;
}
































