/* Small only */
@media screen and (max-width: 39.9375em) {
	// .label {
	// 	display:none;
	// }
	.horizontal-50-50 {
		display:flex;
		flex-flow:row wrap;
		height:auto;
		margin-bottom:0;
		overflow:initial;
		& .module {
			order:1;
			padding-top:2rem;
			padding-bottom:2rem;
		}
		& .text-module {
			order:2;
			padding-right:.375rem;
			padding-left:.375rem;
			&.arrow-right::after, .arrow-left::after {
				display:none;
			}
		}
	}
	.vertical-50-50 {
		display:flex;
		flex-flow:row wrap;
		& .flex-top.text-module {
			order:2;
		}
		& .flex-bottom.text-module {
			order:2;
		}
		& .flex-top {
			order:1;
		}
		& .flex-bottom {
			order:1;
		}
		.flex-top.text-module::after {
			content: '';
			position: absolute;
			z-index: 100;
			top: -20px;
			right: auto;
			bottom: auto;
			left: 10%;
			width: 0;
			height: 0;
			border-top: none;
			border-right: 20px solid transparent;
			border-bottom: 20px solid #fff;
			border-left: 20px solid transparent;
		}
	}
}