/* Small only */
@media screen and (max-width: 39.9375em) {
	//Mobile Nav
	.navigation-container {
		height:3.75rem;
		.navigation-column {
			height:3.75rem;
			&:last-child {				
				background:transparent;
				&::before {
					display:none;
				}
				.row {
					display:none;
					opacity:0;
					padding-top:4.5rem;
					position:fixed;
					right:0;
					width:85%;
					height:100%;
					background:rgba(0,45,91,.9);
					-webkit-animation-name: fadeOutRight;
						animation-name: fadeOutRight;
						-webkit-animation-duration: .25s;
						animation-duration: .25s;
						-webkit-animation-fill-mode: both;
						animation-fill-mode: both;	
					&.open {
						display:block;
						-webkit-animation-name: fadeInRight;
						animation-name: fadeInRight;
						-webkit-animation-duration: .25s;
						animation-duration: .25s;
						-webkit-animation-fill-mode: both;
						animation-fill-mode: both;
					}
						
					&.close {
											
					}

					.columns {
						display:flex;
						flex-flow:row wrap;
						.main-menu {
							order:1;
							width:100%;
							ul li {
								display:block;
							}
							i {
								transform:matrix(0, -1, 1, 0, 0, 0);
							}
						}
						.external-links-container {
							order:2;
							width:100%;
							&::before {
								    content: '';
								    width: 95%;
								    height: 1px;
								    position: absolute;
								    background: #00a8e1;
								    right: 0px;
								    top: -5px;
							}
						}
					}
				}
			}
			
			.columns {
				height:3.75rem;
			}
		}
	}
	.koch-logo {
		margin-top:1rem;
		height:auto;
	}





	#toggle {
		-webkit-animation-name: fadeIn;
		animation-name: fadeIn;
		-webkit-animation-duration: .5s;
		animation-duration: .5s;
		-webkit-animation-delay: 1s;
		animation-delay: 1s;
	}
	.burger {
		position: relative;
		top:8px;
		right:15px;
		display: block;
		width:40px;
		height:40px;
		cursor: pointer;
		z-index:999;
		float:right;
	}

	.burger span {
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 100%;
		height: 3px;
		/*     margin-top: -2px; */
		background-color: #fff;
		font-size: 0px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		/*     -webkit-transition: background-color 0.3s;
		transition: background-color 0.3s; */
		-webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;

	}

	.open.burger span {
		background-color: transparent;
	}

	.burger span:before {
		-webkit-transform: translateY(-400%);
		transform: translateY(-400%);
	}

	.burger span:before, .burger span:after {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		content: '';
		-webkit-transition: -webkit-transform 0.25s;
		transition: transform 0.25s;
	}

	.burger span:after {
		-webkit-transform: translateY(400%);
		transform: translateY(400%);
	}








	.open.burger span:before {
		-webkit-transform: translateY(0) rotate(45deg);
		transform: translateY(0) rotate(45deg);
	}
	.open.burger span:after {
		-webkit-transform: translateY(0) rotate(-45deg);
		transform: translateY(0) rotate(-45deg);
	}
	//END Mobile Nav



	

	// Testing singular SVG animation, may leave off of final build.
	// .mark {
	// 	&.on {
	// 		transform:matrix(1, 0, 0, 1, 0, 0);
	// 	}
	// 	&.off {
	// 		transform:matrix(1.5, 0, 0, 1.5, 0, -7);
	// 	}
	// }


	// .label {
	// 	display:none;
	// }
	.horizontal-50-50 {
		display:flex;
		flex-flow:row wrap;
		height:auto;
		margin-bottom:0;
		overflow:initial;
		.module {
			order:1;
			padding-top:2rem;
			padding-bottom:2rem;
		}
		.text-module {
			order:2;
			padding-right:.375rem;
			padding-left:.375rem;
			&.arrow-right::after, .arrow-left::after {
				display:none;
			}
		}
	}
	.vertical-50-50 {
		display:flex;
		flex-flow:row wrap;
		& .flex-top.text-module {
			order:2;
		}
		& .flex-bottom.text-module {
			order:2;
		}
		& .flex-top {
			order:1;
		}
		& .flex-bottom {
			order:1;
		}
		.flex-top.text-module::after {
			content: '';
			position: absolute;
			z-index: 100;
			top: -20px;
			right: auto;
			bottom: auto;
			left: 10%;
			width: 0;
			height: 0;
			border-top: none;
			border-right: 20px solid transparent;
			border-bottom: 20px solid #fff;
			border-left: 20px solid transparent;
		}
	}



}




