/*--bourbon library import--*/
    @import "bourbon";
/*--END bourbon library import--*/

//Generic Colors
$white:#fff;
$black:#000;
$dark-gray:#444;

//Koch Colors
$blue:#00A8E1;
$dark-blue:#002D5B;



/*--COLORS--*/
  $white: #ffffff;
  $black: #000000;

  $dark_blue: #002d5b;
  $dark_blue_2: #00468e;
  $blue: #00a8e1;
  $light-blue: #26abff;
  $soft-blue: #96c6d4;
  
  $dark-gray: #444444;
  $gray: #333740;
  $light-gray: #ebeced;
  $super-light-gray: #f6f6f7;
  
  $facebook-blue: #3b5998;
  $twitter-blue: #55acee;
  $linked-in-blue : #007bb6;
  $glassdoor-green: #7cb228;
  $google-plus-red: #dd4b39;
  $youtube-red: #e52d27;

  $koch-ind-blue: #005b7c;
  $koch-ind-light-blue: #63cbe8;
  $koch-ind-soft-blue: #c2e7f2;
  $koch-ind-light-gray: #ebeced;
/*--END COLORS--*/



/*--FONTS--*/
$header-font: "azo-sans-web",sans-serif;
$sans-serif: "proxima-nova", sans-serif;
$slab: "museo-slab",serif;
/*--END FONTS--*/



/*--END MIXINS--*/